<h1 class="headcolor text-center pt-3 pb-3">Supported By </h1>
<div class="container" style="border: 1px solid blue; background: #a8bbe4;">


    <div class="items">
        <div class="card">
            <div class="card-body">

                <div class="row text-center">
                    <div class="col-sm-3"> <img class="profile-pic"
                            src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                    </div>
                    <div class="col-sm-3"> <img class="profile-pic"
                        src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                </div>
                <div class="col-sm-3"> <img class="profile-pic"
                    src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
            </div>
            <div class="col-sm-3"> <img class="profile-pic"
                src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
        </div>

                </div>
            </div>
        </div>
    </div>
</div>