:host ::ng-deep .p-carousel-indicator { display: none; }
:host ::ng-deep .p-carousel-next {background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEru1fY-4VdKyM_Ww92gEM2PhFqNdrNSZkA&usqp=CAU');}


.card {
    position: relative;
    display: inline-flex;
    width: 300px;
    text-align: center;
    flex-direction: column;
    min-width: 0;
    margin: 16px;
    margin-left: 45px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    
    
}


p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

h4 {
    line-height: .2 !important
}

.profile {
    margin-top: 16px;
    margin-left: 11px
}

.profile-pic {
    width: 58px
}

.cust-name {
    font-size: 18px
}

.cust-profession {
    font-size: 10px
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 30px
}

.slick-slide {
    margin: 10px
}

img:hover{
    width: 100%;
    animation: mymove 2s ;
}


@keyframes mymove {
    from {width: 88%;}
    to {top: 90%;}
  }