
<div class="container" >

    <div class="headcolor text-center"> <h1> Contact Details </h1></div>
    <form class="row g-3"  #agendaDetails="ngForm" (ngSubmit)="agendaDetailsLog(agendaDetails.value, fname)">
      <div class="col-md-6">
          
          <input type="text" pattern="[a-z]{3,50}" class="form-control" id="name" name="name" placeholder="Full Name"
              [(ngModel)]="fullname" minlength="3" #nameV="ngModel" required>

          <div class="alert alert-danger" *ngIf="nameV.touched && !nameV.valid">
              <div [hidden]="!nameV.errors.required"> Name is required.</div>
              <div [hidden]="!nameV.errors.minlength">Name should be 3 char minimum </div>
              <div [hidden]="!nameV.errors.pattern">Name should be only charactor</div>

          </div>
      </div>
      <div class="col-md-6">

          <input type="text" class="form-control" name="Designation" placeholder="Designation"
              [(ngModel)]="designation" minlength="2" #designationV="ngModel" required>

          <div class="alert alert-danger" *ngIf="designationV.touched && !designationV.valid">
              <div [hidden]="!designationV.errors.required">designation is required.</div>
              <div [hidden]="!designationV.errors.minlength">designation should be 2 char minimum </div>

          </div>
      </div>

      <div class="col-md-6">

          <input type="text" class="form-control" name="Company" placeholder="Company" 
          [(ngModel)]="company" minlength="3" #companyV="ngModel" required>
          <div class="alert alert-danger" *ngIf="companyV.touched && !companyV.valid">
              <div [hidden]="!companyV.errors.required">Company name is required.</div>
              <div [hidden]="!companyV.errors.minlength">Company name should be 3 char minimum </div>

          </div>
      </div>
      <div class="col-md-6">

          <input type="text" pattern="[0-9]{10}" class="form-control" name="Phone" placeholder="Phone Number" 
          [(ngModel)]="mobileNumber" minlength="10" maxlength="10" #phoneV="ngModel" required>

          <div class="alert alert-danger" *ngIf="phoneV.touched && !phoneV.valid">
              <div [hidden]="!phoneV.errors.required">Phone number is required.</div>
              <div [hidden]="!phoneV.errors.minlength">Phone number should be 10 char minimum </div>
              
              <div [hidden]="!phoneV.errors.pattern"> please type only number </div>

          </div>
      </div>

      <div class="col-md-6">

          <input type="email" class="form-control" name="Email" placeholder="Email" 
          [(ngModel)]="email" minlength="4" maxlength="100" #emailV="ngModel" required email> 

          <div class="alert alert-danger" *ngIf="emailV.touched && !emailV.valid">
              <div [hidden]="!emailV.errors.required">email number is required.</div>
              <div [hidden]="!emailV.errors.minlength">email number should be 10 char minimum </div>
              <div [hidden]="!emailV.errors.email"> @'company' or providesnames.com  </div>

              
                                          
          </div>

      </div>
      <div class="col-md-6">

          <input type="text" class="form-control" name="City" placeholder="City" 
          [(ngModel)]="city" minlength="3" #cityV="ngModel" required> 

          <div class="alert alert-danger" *ngIf="cityV.touched && !cityV.valid">
              <div [hidden]="!cityV.errors.required">city number is required.</div>
              <div [hidden]="!cityV.errors.minlength">city number should be 10 char minimum </div>
                                                                     
          </div>
      </div>

      
      

      

     


      <div class="row">
      <div class="col-9 text-center">
          <button type="submit" class="btn btn-primary mb-4" [disabled]="!agendaDetails.form.valid"  (click)="activeModal.close('Close click')">Register parnership </button>
      </div>
      <div class="col-3 text-center"><span class="btn mb-4 mr-4  " (click)="activeModal.dismiss()">close</span>
        </div>
    </div>
  </form>
  </div>