<div class="container-fluid">
        <div class="row">
        <div class="col-sm-8 text-left">

            <div class="navbar-brand elementToFadeInAndOut"><img class="elementToFadeInAndOut"
                    src="https://recommerceeco.com/assets/website/images/logo.png" width="200">
            </div>

        </div>

        <div class="col-sm-4 text-left">

            <div>  <a class="btn btn-info" routerLink="/booknow">Register Now</a> 
            </div>

        </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <ul class=" link1">
                    <li class="nav-item nav-link active" (click)="open()">Agenda </li>
                    <li class="nav-item nav-link active">Browcher</li>
                    <li class="nav-item nav-link active">Floar Plan</li>
                    <li class="nav-item nav-link active">Contact us</li>
                </ul>
            </div>
        </div>

    
</div>


<div class="container-fluid">
    <div class="row">

        <div class="registerbanner text-center">

            <h5 class="txt">
                <h1 class="headcolor jump"></h1><br>Sustainable Clothing &amp; Textile Recycling Conference
                - 5th April 2021, Coimbatore,Tamil Nadu.
            </h5>
        </div>


    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <app-ourpartners></app-ourpartners>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <app-supported-by></app-supported-by>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <app-mediapartners></app-mediapartners>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <app-associaton></app-associaton>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <app-speakers></app-speakers>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <app-testimonals></app-testimonals>
    </div>
</div>


<app-footer></app-footer>