<h1 class="headcolor text-center pt-3 pb-3">Our Partners </h1>

<div class="container" style="height: 200px;">
	<p-carousel [value]="cpartnerData" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true"
		[autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
		<ng-template let-cpartnerData pTemplate="item">
			<div class="product-item">
				<div class="product-item-content">
					<div class="p-mb-3">
					</div>
					<div class="p-mt-5 ">
						<img src="{{cpartnerData.img_url}}" class="product-image" width="350" height="150" />
						<!-- <h5> {{partner.partner_name}} </h5> -->
					</div>
					
				</div>
			</div>
		</ng-template>
	</p-carousel>
</div>


