<div class="container">
    <div class="row ">
        <div class="row">
            <h1 class="text-center headin1"> {{event_head}} </h1>
            <!-- <div class="border_page"></div> -->
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <button type="button" class="btn btn-outline-success mb-2 " (click)="active()">Active
                        Events</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-outline-danger mb-2 " (click)="upcoming()">Upcoming
                        Events </button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-outline-warning mb-2" (click)="completed()">Completed
                        Events</button>
                </div>
            </div>

            <div class="col-sm-1">
            </div>

            <div class="col-sm-7">
                <div class="row bd1" id="loading" *ngIf="events.length == 0" style="background: #ffffff;">
                    
                </div>
                

                <div class="row bd1" *ngIf="events.length == 0" style="background: #ffffff;">
                    <p> There is no event added yet </p>
                </div>

                <div class="row bd1" *ngIf="!selected" style="background: #ffffff;">
                    
                    <div class="row bd1">
                        <div class="row">
                            <div class="col-sm-4" bd1 *ngFor="let event of events ">
                                <div class=" boxshadow"> <a [title]="event.name" [routerLink]="['/register', event.id] "
                                        target="_blank"> <img class="fade-in card-img-top img180 rounded"
                                            src="{{event.fileUpload}}"></a>
                                </div>
                                <div class="card-text  text-center eventName">{{event.name}}</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row bd1">
                    <div class="row">
                        <div class="col-sm-4" bd1 *ngFor="let event of (events | newstatus : selected ) ">
                            <div class=" boxshadow"> <a [title]="event.name" [routerLink]="['/register', event.id] "
                                    target="_blank"> <img class="fade-in card-img-top img180 rounded"
                                        src="{{event.fileUpload}}"></a>
                            </div>
                            <div class="card-text  text-center eventName">{{event.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>